* {
  position: sticky;
  top: 0;
  z-index: 100;
}

.spacer {
  flex: 1 1 auto;
}


.contenedor {
  margin: 0;
  padding: 0% 0%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  //max-width: 1000px;
  overflow: hidden;
  
}

.example-container {
  display: flex;  
  width: auto;
  align-items: center;
}

.search-container {
  padding: 0;
  display: flex;
  width: auto;  
}

.aside {
  margin: 0;
  padding: 0;
  padding-right: 1rem;
  display: flex;
  align-items: center;
}

.aside img {
  height: 5rem;
  width: 100%;
  padding: 5% 5%;
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
}

.mat-raised-button {
  width: auto;
  height: 3rem;
  padding: 0%;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .main {
    width: 100%;
  }

  .aside {
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .contenedor {
    width: 100%;
  }
  .aside {
    display: none;
  }
}



