*{
  z-index: 10;
}
.spacer {
  flex: 1 1 auto;
}

.contenedor {
  margin-top: 0;
  padding: 0% 0%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-left: 20%;
  background-color: #fff;
  align-items: center;
  //max-width: 1000px;
}

.example-container {
  display: flex;  
  width: auto;
  align-items: center;
}

.mat-button{
  color: transparent;
  z-index: 0;
}

.search-container {
  padding: 0;
  display: flex;
  width: auto;
}

.aside {
  margin: 0;
  padding: 0;
  padding-right: 1rem;
  display: flex;
  align-items: center;
}

.aside img {
  height: 4rem;
  width: 100%;
  padding: 5% 5%;
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
}

.mat-raised-button {
  width: auto;
  height: 3rem;
  padding: 0%;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .main {
    width: 100%;
  }

  .aside {
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .contenedor {
    width: 100%;
  }
  .aside {
    display: none;
  }
}



