<header>
  <mat-toolbar>

    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>

    <mat-form-field class="search-container">
      <input matInput placeholder="Search" />
    </mat-form-field>

    <div class="aside">
      <img src=".\assets\imgs\profile.jpeg" alt="profile image" />
      <button mat-raised-button [mat-menu-trigger-for]="menu"> 
          John Doe
      </button>
      <mat-icon>arrow_down</mat-icon>
    </div>

    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="onClick('DD Item 1')">Perfil</button>
      <button mat-menu-item (click)="onClick('DD Item 2')">Logout</button>
    </mat-menu>

  </mat-toolbar>


</header>