<mat-card>
  <mat-card-title>
    {{billResponse && billResponse.concept}}
  </mat-card-title>
  <mat-divider></mat-divider>
  <mat-card-content>
    Amount: {{billResponse && billResponse.amount}}
  </mat-card-content>
  <mat-card-content>
    Date: {{billResponse && billResponse.date}}
  </mat-card-content>
  <mat-card-content>
    Type: {{billResponse && billResponse.type}}
  </mat-card-content>
  <mat-card-content>
    Account ID: {{billResponse && billResponse.accountId}}
  </mat-card-content>
  <mat-card-content>
    User ID: {{billResponse && billResponse.userId}}
  </mat-card-content>
  <mat-card-content>
    Destinatary ID: {{billResponse && billResponse.to_account_id}}
  </mat-card-content>
</mat-card>
