.container {
  margin: 20px 20px;

.contenido {
  justify-content: space-between;
}

.mat-card-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  h1 {
    margin: 0;
  }
}

.mat-card-subtitle {
  display: flex;
  margin-left: 10%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.mat-card-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-list{
  align-items: center;
  justify-content: center;
  
}

}
.content {
  align-content: center;

}