<mat-card class="container">
    

<mat-form-field appearance="fill">

  <mat-label>Select Moneda</mat-label>

  <mat-select>

    <mat-option *ngFor="let moneda of Monedas" [value]="moneda.value">

      {{moneda.viewValue}}

    </mat-option>

  </mat-select>

</mat-form-field>
<mat-form-field appearance="fill">
    <mat-label>Importe</mat-label>
    <input matInput type="number" [formControl]="importe" placeholder="0">
  </mat-form-field>

  
  <mat-form-field appearance="fill">
    <mat-label>Total</mat-label>
    <input matInput type="number" [formControl]="resultado"  placeholder="0">
  </mat-form-field>
</mat-card>   
<ew-divisas></ew-divisas>