<header class="login-header">
  <img src="../../../../assets/imgs/alkybankLogo.svg" alt="AlkyBank" />
  <div class="options">
    <button mat-raised-button color="primary" routerLink="login">
      Log in
    </button>
    <button mat-raised-button color="primary" routerLink="register">
      Register
    </button>
  </div>
</header>
<div class="text-center">
  <img src="../../../../assets/imgs/authBack.jpg" alt="" />
  <mat-card>
    <mat-card-title>
      Hola
    </mat-card-title>
    <mat-card-content>
      aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    </mat-card-content>
  </mat-card>
</div>