<div class="text-center">
  <img src="../../../../assets/imgs/authBack.jpg" alt="" />
  <div class="filter"></div>
  <mat-card>
    <mat-card-title>
      Únete a Akybank, maneja tus activos en un solo lugar y desde cualquier parte del mundo!!
    </mat-card-title>
    <mat-card-content>
      Descubrí las nuevas funcionalidades de Alkybank para tener control de tu día a día y pagar desde tu celular.
    </mat-card-content>
  </mat-card>
  
  <button mat-flat-button color="primary" routerLink="register">Hacete cliente!</button>
</div>
